#hornav ul li a {
  padding: 0 !important
}
/* menu::base */

div#hornav {
  height: 54px;
  width: auto;
  text-shadow: none
}

div#hornav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left
}

div#hornav li {
  position: relative;
  margin: 0;
  padding: 0 0px 0 0;
  display: block;
  float: left;
  z-index: 9;
  width: auto
}

div#hornav ul ul li {
  z-index: 9
}

div#hornav li div {
  list-style: none;
  float: left;
  position: absolute;
  z-index: 11;
  top: 52px;
  visibility: hidden;
  margin: -7px 0 0 -4px;
  padding: 0
}

div#hornav ul ul {
  z-index: 12;
  padding: 5px 4px 10px 4px;
  background: none repeat scroll 0 0 #151515;
  box-shadow: 2px 2px 10px #000000;
  -moz-box-shadow: 2px 2px 10px #000000;
  -webkit-box-shadow: 2px 2px 10px #000000;
  -o-box-shadow: 2px 2px 10px #000000;
  -oms-box-shadow: 2px 2px 10px #000000;
  border: 1px solid #0F0F0F;
  border-top: 1px solid #141414;
  margin: 9px 4px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
background: -moz-linear-gradient(top, #151515 0%, #141414 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151515), color-stop(100%,#141414));
background: -webkit-linear-gradient(top, #151515 0%,#141414 100%);
background: -o-linear-gradient(top, #151515 0%,#141414 100%);
background: -ms-linear-gradient(top, #151515 0%,#141414 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#141414',GradientType=0 );
background: linear-gradient(top, #151515 0%,#141414 100%);
}

div#hornav li:hover > div {
  visibility: visible
}

div#hornav a {
  position: relative;
  z-index: 10;
  height: 52px;
  display: block;
  float: left;
  line-height: 53px;
  text-decoration: none;
  margin-top: 1px;
  white-space: nowrap;
  width: auto;
  padding-right: 5px;
  text-align: center
}

div#hornav span {
  padding: 0 30px;
  background: none;
  line-height: 55px;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 95% 0;
  text-align: center
}
/* menu::level1 */

div#hornav a {
  padding: 0 10px 0 0;
  line-height: 50px;
  height: 52px;
  margin-right: 5px;
  _margin-right: 1px;
  background: none;
  text-transform: uppercase
}

div#hornav a:hover, div#hornav li.current a, div#hornav ul.menu > li:hover > a {
}

div#hornav li.current a span, div#hornav ul.menu > li:hover > a span {
  background: url(../../../images/menu/selected-left-sub-dark.png) repeat-x 0 0;
  color: #FFFFFF !important
}

div#hornav ul.menu > li:hover > a span {
  color: #07b3e1
}

div#hornav li {}

div#hornav li.last, div#hornav li.current ul a, div#hornav li.current ul a span, div#hornav ul ul a.parent span, div#hornav ul ul a.parent:hover span, div#hornav ul ul li.last {
  background: none
}
/* menu::level2 */

div#hornav ul ul li {
  background: none;
  padding: 0
}

div#hornav ul ul a {
  padding: 0px;
  height: auto;
  float: none;
  display: block;
  line-height: 25px;
  font-size: 13px;
  color: #fff;
  z-index: -1;
  padding-left: 5px;
  white-space: normal;
  width: 180px;
  margin: 1px 10px;
  text-transform: none;
  border: 1px solid transparent
}

div#hornav a.group {
  padding-left: 7px
}

div#hornav ul ul a span {
  padding: 0 7px;
  line-height: 23px;
  font-size: 13px;
  color: #FFFFFF !important;
  text-shadow: 1px 1px 0px #000000
}

div#hornav a.group span {
  font-size: 11px;
  line-height: 13px !important;
  padding: 1px 12px !important
}

div#hornav ul.icons a span{
  padding-left: 25px
}

div#hornav ul.mega li{
  float: left;
  display: inline
}

div#hornav a.special-1 span {
  background: url(../../../images/typo/special-1.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-2 span {
  background: url(../../../images/typo/special-2.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-3 span {
  background: url(../../../images/typo/special-3.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-4 span {
  background: url(../../../images/typo/special-4.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-5 span {
  background: url(../../../images/typo/special-5.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-6 span {
  background: url(../../../images/typo/special-6.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-7 span {
  background: url(../../../images/typo/special-7.png) 2px 4px no-repeat transparent !important
}

div#hornav a.special-8 span {
  background: url(../../../images/typo/special-8.png) 2px 4px no-repeat transparent !important
}

div#hornav li.nolink span {
  display: block;
  color: #c0c0c0;
background: #383838;
background: -moz-linear-gradient(top, #383838 0%, #242424 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#242424));
background: -webkit-linear-gradient(top, #383838 0%,#242424 100%);
background: -o-linear-gradient(top, #383838 0%,#242424 100%);
background: -ms-linear-gradient(top, #383838 0%,#242424 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#242424',GradientType=0 );
background: linear-gradient(top, #383838 0%,#242424 100%);
  border: 1px solid #242424;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #585858;
  border-radius: 3px 3px 3px 3px;
  cursor: default;
  font-size: 14px;
  line-height: 26px !important;
  font-variant: small-caps;
  margin: -3px 0 0 3px;
  padding: 1px 7px !important;
  box-shadow: 0px 1px 2px #000 inset
}

div#hornav li.nolink .subtitle {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  display: block;
  font-size: 10px;
  color: #6B6B6B;
  font-variant: normal;
  margin: -14px 0 -4px -4px
}

div#hornav li.nolink img {
  display: block;
  float: left;
  padding: 5px 7px 0px 12px
}

div#hornav li.spacer {
  padding: 5px
}

div#hornav ul ul a:hover {
  border: 1px solid rgba(47,51,67,0.8);
  border-radius: 3px;
background: -moz-linear-gradient(top, rgba(61,61,61,0.8) 0%, rgba(54,59,64,0.8) 50%, rgba(47,51,67,0.8) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,0.8)), color-stop(50%,rgba(54,59,64,0.8)), color-stop(100%,rgba(47,51,67,0.8)));
background: -webkit-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
background: -o-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
background: -ms-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3d3d3d', endColorstr='#cc2f3343',GradientType=0 );
background: linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);}

div#hornav ul ul a:hover span {
  background: none;
  color: #07b3e1
}

div#hornav ul ul a.parent {
  background: url(../../../images/menu/submenu-pointer-dark.png) no-repeat right center;
}

div#hornav ul ul a.parent:hover {
  background: url(../../../images/menu/submenu-pointer-dark.png) no-repeat right center;
background: -moz-linear-gradient(top, rgba(61,61,61,0.8) 0%, rgba(54,59,64,0.8) 50%, rgba(47,51,67,0.8) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,0.8)), color-stop(50%,rgba(54,59,64,0.8)), color-stop(100%,rgba(47,51,67,0.8)));
background: -webkit-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
background: -o-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
background: -ms-linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3d3d3d', endColorstr='#cc2f3343',GradientType=0 );
background: linear-gradient(top, rgba(61,61,61,0.8) 0%,rgba(54,59,64,0.8) 50%,rgba(47,51,67,0.8) 100%);}

div#hornav ul ul span {
  margin-top: 0;
  text-align: left
}

div#hornav ul ul.mega {
  width: 400px !important
}

div#hornav ul ul.mega li {
  width: 50%
}

div#hornav ul ul li, div#hornav ul ul.single li{
  width: 100%
}
/* menu::level3 */

div#hornav ul ul div {
  width: 180px;
  padding: 0;
  margin: -65px 0 0 190px !important
}

div#hornav ul ul ul {
  padding: 18px 4px 0px 0px;
  border-radius: 5px
}

div#hornav ul ul div li {
  position: relative;
  top: -10px
}
/* lava lamp */

div#hornav li.back {
  background: url(../../../images/menu/selected-left-sub-dark.png) no-repeat 0 0;
  width: 5px;
  height: 55px;
  z-index: 8;
  position: absolute;
  padding: 0;
  margin: 0px 0 0 0
}

div#hornav li.back .left {
  padding: 0;
  width: auto;
  background: url(../../../images/menu/selected-right-sub-dark.png) no-repeat right 0;
  height: 55px;
  margin: 0 0 0 5px;
  float: none;
  position: relative;
  top: 0;
  left: 0;
  visibility: visible
}
/*vertical menu
------------------------------------------------*/

/* begin Box, Block, VMenuBlock */
.vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.vmenublock
{
  margin: 10px;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
  padding-top: 15px;
}

.vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.vmenu, ul.vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.vmenu ul
{
  display: none;
}

ul.vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 33px;
  cursor: pointer;
  text-decoration: none;
}

ul.vmenu li.vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.vmenu .vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.vmenu li{background: url("../../../images/menu/submenu-pointer-dark.png") no-repeat scroll 94% center transparent}

ul.vmenu a .l
{
  left: 0;
  right: 25px;
}

ul.vmenu a .r
{
  width: 992px;
  right: 0;
  clip: rect(auto, auto, auto, 967px);
}

ul.vmenu a .t
{
  display: block;
  line-height: 30px;
  padding: 0 35px 0 12px;
  font-size: 13px;
  margin-left:0;
  margin-right:0;
}

ul.vmenu a.active .t {
border: 1px solid rgba(19,21,27,0.8);
border-radius: 3px;
background: -moz-linear-gradient(top, rgba(28,28,28,0.8) 0%, rgba(22,24,28,0.8) 55%, rgba(19,21,27,0.8) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,28,28,0.8)), color-stop(55%,rgba(22,24,28,0.8)), color-stop(100%,rgba(19,21,27,0.8)));
background: -webkit-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
background: -o-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
background: -ms-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1c1c1c', endColorstr='#cc13151b',GradientType=0 );
background: linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);}

ul.vmenu a:hover .t
{
border: 1px solid rgba(19,21,27,0.8);
border-radius: 3px;
background: -moz-linear-gradient(top, rgba(28,28,28,0.8) 0%, rgba(22,24,28,0.8) 55%, rgba(19,21,27,0.8) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,28,28,0.8)), color-stop(55%,rgba(22,24,28,0.8)), color-stop(100%,rgba(19,21,27,0.8)));
background: -webkit-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
background: -o-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
background: -ms-linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1c1c1c', endColorstr='#cc13151b',GradientType=0 );
background: linear-gradient(top, rgba(28,28,28,0.8) 0%,rgba(22,24,28,0.8) 55%,rgba(19,21,27,0.8) 100%);
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul, ul.vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 22px;
  overflow: visible;
  background-image: url('../../../images/menu/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 25px;
}


ul.vmenu ul span, ul.vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.vmenu ul a, ul.vmenu ul a:link, ul.vmenu ul a:visited, ul.vmenu ul a:hover, ul.vmenu ul a:active, ul.vmenu ul span, ul.vmenu ul span span
{
  line-height: 22px;
  color: #2F617F;
  font-size: 11px;
  margin-left: 0;
}

ul.vmenu ul
{
    margin:0 0 0 0;
}

ul.vmenu ul ul
{
  margin:0 0 0 0;
}

ul.vmenu ul li.vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.vmenu ul .vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.vmenu ul li a.active
{
  color: #1D2630;
  background-position: 25px -44px;
}

ul.vmenu ul li li a.active
{
  background-position: 50px -44px;
}

ul.vmenu ul li li li a.active
{
  background-position: 75px -44px;
}

ul.vmenu ul li li li li a.active
{
  background-position: 100px -44px;
}

ul.vmenu ul li li li li li a.active
{
  background-position: 125px -44px;
}



ul.vmenu ul li a:hover, ul.vmenu ul li a:hover.active
{
  color: #283643;
  background-position: 25px -22px;
}


ul.vmenu ul li li a:hover, ul.vmenu ul li li a:hover.active
{
  background-position: 50px -22px;
}

ul.vmenu ul li li li a:hover, ul.vmenu ul li li li a:hover.active
{
  background-position: 75px -22px;
}

ul.vmenu ul li li li li a:hover, ul.vmenu ul li li li li a:hover.active
{
  background-position: 100px -22px;
}

ul.vmenu ul li li li li li a:hover, ul.vmenu ul li li li li li a:hover.active
{
  background-position: 125px -22px;
}
/* end VMenuSubItem */