/* begin Page */

#page-background-glare-image
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}

.slide-area {
background-image: none;
 behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/body/t_shadow.png',sizingMethod='crop')");
  zoom: 1;
}

.cleared 
{
    width:1px;
}
/* end Page */

/* begin Box, Sheet */
.sheet, .sheet-body
{
  zoom: 1;
}

.sheet-body
{
  position: static;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl, .sheet-tc, .sheet-bc,.sheet-cr, .sheet-cl
{
  font-size: 1px;
  background: none;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/sheet_s.png',sizingMethod='scale')");
}

.sheet-tl
{
  clip: rect(auto 33px 33px auto);
}

.sheet-tr
{
  left: expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(auto auto 33px 33px);
}

.sheet-bl
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  clip: rect(33px 33px auto auto);
}

.sheet-br
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  left: expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(33px auto auto 33px);
}

.sheet-tc, .sheet-bc
{
  width: expression(this.parentNode.offsetWidth-66+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/sheet_h.png',sizingMethod='scale')");
}

.sheet-tc
{
  clip: rect(auto auto 33px auto);
}

.sheet-bc
{
  top: expression(this.parentNode.offsetHeight-66+'px');
  clip: rect(33px auto auto auto);
}

.sheet-cr, .sheet-cl
{
  height: expression(this.parentNode.offsetHeight-66+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/sheet_v.png',sizingMethod='scale')");
}

.sheet-cr
{
  left: expression(this.parentNode.offsetWidth-66+'px');
  clip: rect(auto auto auto 33px);
}

.sheet-cl
{
  clip: rect(auto 33px auto auto);
}

.sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-66+'px');
  height: expression(this.parentNode.offsetHeight-66+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/sheet_c.png',sizingMethod='scale')");
}
#page-background-simple-gradient, #page-background-gradient, #page-background-glare
{
  width: expression(document.body.clientWidth > 956 ? "998px" : "998px");
  width: 998px;
  overflow: hidden;
}
/* end Box, Sheet */

.nav
{
  zoom: 1;
}

.nav .l, .nav .r
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/nav.png',sizingMethod='crop')");
}

.nav .l
{
  width: expression(this.parentNode.offsetWidth-5+'px');
}

.nav .r
{
  left: expression(this.parentNode.offsetWidth-942+'px');
  clip: rect(auto auto auto 937px);
}

/* end Menu */

/* begin MenuItem */
.menu a
{
  float: left;
}

.menu a:hover
{
  visibility: visible;
}

.menu a .r, .menu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/menuitem.png',sizingMethod='crop')");
}

.menu a .r
{
  left: expression(this.parentNode.offsetWidth-400+'px');
  clip: rect(auto auto auto 400px);
}

.menu a .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}

.menuhover .menuhoverA .t
{
  color: #F0F0F0;
}

.menuhover .menuhoverA .l, .menuhover .menuhoverA .r
{
  top: -54px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .menu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.menu ul a
{
  color: #FDE8DD !important;
}

.menu ul a:hover {
  color: #F2F2F2 !important;
}	

.menu ul .menuhover .menuhoverA
{
  color: #F2F2F2 !important;
  background-position: 0 -32px;
}

.nav .menu ul a:hover span, .nav .menu ul a:hover span span
{
  color: #F2F2F2 !important;
}	

.nav .menu ul .menuhover .menuhoverA span, .nav .menu ul .menuhover .menuhoverA span span
{
  color: #F2F2F2 !important;
}

/* end MenuSubItem */

/* begin Layout */
div.content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Button */
.read-on-wrapper, .read-on-wrapper .l, .read-on-wrapper .r
{
  zoom: 1;
}

.read-on-wrapper .read-on
{
  float: left;
}

.read-on-wrapper .l, .read-on-wrapper .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/button.png',sizingMethod='crop')");
}

.read-on-wrapper .r
{
  left: expression(this.parentNode.offsetWidth-403+'px');
  clip: rect(auto auto auto 402px);
}

.read-on-wrapper .l
{
  width: expression(this.parentNode.offsetWidth-1+'px');
}
/* end Button */
/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent, .vmenublockcontent-body
{
  zoom: 1;
}

.vmenublockcontent-body
{
  position: static;
}
.vmenublockcontent-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
  background-color: #FFFFFF;
}
.vmenublockcontent, .vmenublockcontent-body
{
  zoom: 1;
}

.vmenublockcontent-body
{
  position: static;
}
.vmenublockcontent-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
  background-color: #FFFFFF;
}
/* end Box, Box, VMenuBlockContent */

/* begin Box, Block */
.block, .block-body
{
  zoom: 1;
}

.block-body
{
  position: static;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader
{
  zoom: 1;

}

/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent, .blockcontent-body
{
  zoom: 1;
}

.blockcontent-body
{
  position: static;
}
.blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.post, .post-body
{
  zoom: 1;
}

.post-body
{
  position: static;
}
/* end Box, Post */

/* begin PostBullets */
.post ul li, .post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/postbullets.png',sizingMethod='crop')");
}

.post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
.postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + artGetStyleUrl()+"../images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.footer, .footer-body
{
  zoom:1;
}


.footer-b 
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  width: expression(this.parentNode.offsetWidth-10+'px');
  zoom: 1;
  font-size: 1px;
}

.footer-r, .footer-l
{
  top: expression(this.parentNode.offsetHeight-50+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.footer-r
{
  left: expression(this.parentNode.offsetWidth-10+'px');
  clip: rect(auto auto auto 5px);
}



.footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-50+'px');
  width: 100%;
}


/* end Footer */

/* begin LayoutCell, content */
div.sidebar1
{
  width: auto;
}

div.content-layout div.layout-cell, div.content-layout div.layout-cell div.content-layout div.layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.layout-cell div.layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}


/* end LayoutCell, content */



form#form-login ul li
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}