@charset "utf-8";
/* =Reset default browser CSS. 
-------------------------------------------------------------- */

/*  HTML5  Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #106b6e; color:#fff; text-shadow: none; }
::selection { background:#106b6e; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #106b6e;
text-decoration:none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
 h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #00a7dd; }
a:hover { color: #036; }

/* =Layout
--------------------------------------------------------------*/
/*------------------------------------H-urile -----------------------------------------------*/
h1,h3{
width: 870px;
height: 25px;
margin-top: 20px;
margin-left: 25px;
background: #000;
color: #fff;
font-size: 13px;
padding-left: 20px;
padding-top: 10px;
}
h3{
background: #ccc;
}
/*---------------------------------------MENU----------------------------------------*/
body{ background: url("../img/background.png");	}
.wrapper{
width: 960px;
min-height: 400px;
margin: 0 auto;
background: #fff;
border: 2px solid #c2c2c2;
}
.logo{background: url("../img/logo.png") no-repeat;
width: 102px;
height: 128px;
float: left;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
}
.logo_ela{
background: url("../img/logo_ela.jpg") no-repeat;
width: 200px;
height: 145px;
float: left;
margin-left: 250px;
}
.menu_secundar{
position: relative;
top: 35px;
right: 20px;
float:right;}
.menu_secundar li{
float: left;
margin-left: 15px;
list-style: none;
color: #333;
font: 17px Arial;
font-weight: bold;
}
li a{
color: #333;
font: 17px Arial;
font-weight: bold;

}
li a:hover{color: #f80101;}
li a:active,a:visited{ color: #333;}
.menu_principal{
clear:both;
width: 940px;
height: 35px;
margin-top:10px;
margin-left: 10px;
background: #000;
}
.menu_principal a{
padding: 10px 15px;
font-size: 12px;
color: #fff;
float: left;
font-weight: normal;
}
.menu_principal a:hover{ background: #bfbfbf;}


//----------------------------------BANNER-----------------------------------

.banner-wrapper{
	position: relative;
	margin-top: 25px;
	padding-left: 10px;
	left: 10px;
}
	.banner-background {
		border: 1px solid #999;
		border-radius: 5px;
		width: 900px;
		height: 350px;
		margin-top: 20px;
		margin-left: 25px;
		/* 10px Box Shadow */
		box-shadow: 0 0 10px 0 #010101;
		-moz-box-shadow: 0 0 10px 0 #010101;
	    -webkit-box-shadow: 0 0 10px 0 #010101;
	}
	.banners {
		position: relative;
		width: 900px;
		height: 350px;
		overflow: hidden;
	}
	.banners .banner { position: relative; }
	.banner-wrapper .banners .banner { float: left; }
		.banner-wrapper .banners .items {
			position: absolute;
			width: 20000em;
		}		
	.banner-wrapper .banner-image {
		float: left;
		width: 925px;
	}
	.banner-wrapper .banner-content {
		float: left;
		width: 370px;
		margin: 40px 30px 10px 30px;
	}
/*-------------------------------HOME---------------------------------------------------*/
article{
float: left;
margin: 20px 35px;
width: 240px;
height: 375px;
border: 1px solid #b3b3b3;
padding-left: 5px;
background: #fff;
/* 10px Box Shadow */
		box-shadow: 0 0 2px 0 #010101;
		-moz-box-shadow: 0 0 2px 0 #010101;
	    -webkit-box-shadow: 0 0 2px 0 #010101;
}
article img{ 
margin: 20px 20px 10px 15px;
padding: 5px;
border: 1px solid #d2cfcf;
}
article h2{
font-size: 16px;
color: #000;
}
article h2 span{color: #eb1d57;}
article h3{font-size: 12px; color: #000; background: none; width: 230px; margin-left: -10px; margin-top: 0;}
article p{
padding-top: 20px;
width: 220px;
font-size:  14px;
color: #9d9d9d;
}
article a{
position: relative;
top: 20px;
left: 70px;
padding:  5px;
color:  #000;
font-size: 15px;
border: 1px solid #d1cece;
border-radius: 10px;
}
.mesaj,.mesaj2{
margin-top: 410px;
border : 1px solid #cccbcd;
margin-left: 5px;
width: 948px;
height: 200px;
background:  #cccbcd;
}
.mesaj2{margin-top: 80px;}
.mesaj p,.mesaj2 p{
float: left;
width: 700px;
padding: 35px 0px 15px 35px;
font-size: 20px;
color: #eee;
}.mesaj p{font-size: 20px;}

.mesaj img,.mesaj2 img{
margin-top: 30px;
margin-right: 20px;
float: right;
padding:10px;
background: #fff;
border: 1px solid #b3b3b3;
}
footer{
margin-top: 20px;
border-top: 1px solid #333;
height: 300px;
background: #000;
}
ol{margin-left: 100px;
font-size: 16px;
font-weight: bold;}
ul{margin-left: 140px;}
.premii li{
list-style-image: url("../img/list_element.jpg");
font-size: 22px;
}
p{
width: 870px;
font-size: 14px;
margin: 15px auto;
}
.medium{font-size: 20px;}
.center_medium{margin-left: 250px;}
.grey{color :#ccc; }
.juriu{
 margin: 15px auto;
 width: 800px;
 height: 235px;
 background: #ebebeb;
}
.juriu img{
margin-top: 30px;
margin-left: 30px;
background: #fff;
padding: 15px;
border: 1px solid #b7b7b7;
}
.right_part{
float: right;
margin-top: 50px;
margin-right: 60px;
width: 280px;
}
.juriu h4{
font-size: 28px; 
margin-bottom: 10px;
font-weight: normal;}
.juriu h5{
font-size: 16px;
font-weight: normal;
}
.juriu h5 span{color: #6d0303;}
.castigatori,.burse li{
list-style:none;
position: relative;
}
.burse li{
margin: 15px 0 10px 0;
}
.castigatori h6{
margin: 30px;
color: #c3b870;
}
h6 span{color: #f4df53; }
.castigatori:after,.burse li:after{
content: "";
position: absolute;
top: -15px;
left: -70px;
display: block;
width: 86px;
height: 55px;
background: url("../img/floare.jpg");
}
.burse li:after{width: 28px; height: 28px;background: url("../img/frunza.jpg"); left: -45px; top: -10px;}
.castigatori li{
padding-left: 30px;
color: #000;
list-style: none;
}
hr{
margin: 10px auto;
width: 880px;}
li span{color: #c3b870;}
h5.scholarship{position: relative; margin-left: 60px;margin-top: 20px; font-size: 18px;}
h5.scholarship:after{
content: "";
position: absolute;
display: block;
top: -10px;
left: -30px;
width: 30px;
height: 30px;
background: url("../img/scholarship_1.jpg");
}
.red{color:  #ff0000;
}
table{
padding: 20px;
width: 770px;
margin: 0 auto;
border: 1px solid #3fa2be;
}
table tr{
height: 50px;
border: 1px solid #3fa2be;}
table td{border: 1px solid #3fa2be; width: 350px;padding: 15px;}
.blue{background: #cce4ea;}

.criterii{position: relative;
 font-size: 16px;}
 .criterii:after{
 position: absolute;
 content: "";
 width: 28px;
 height: 28px;
 background: url("../img/frunza.jpg"); 
 left: -45px; 
 top: -10px;
 }
 .criterii li{margin: 10px;margin-left: 25px;}
a.big{
 font-size: 32px;
 margin-left: 400px ;
  }
  a.big:hover{color: #ff0000;}
  .center{margin-left:25px;}
 .gallery{
width: 920px;
margin-left: 42px;
 }
 .gallery li{
 list-style: none;
 float: left;
 margin: 15px 5px 0 0;
 padding: 5px;
 border:1px solid #eee;}
 .gallery li img{margin: 0; padding: 0;}
 .gallery li img:hover{
 opacity:0.7;
filter:alpha(opacity=70);}

.testimoniale p{ margin-bottom: 30px;width: 800px;
font-style: italic;}

.testimoniale h6{font-size: 10px;font-weight: normal; float: right;margin-right: 30px;}
.testimoniale h6 span{font-size: 12px;color: #000;}
 .clearfix{clear: both;}